{% extends 'base.html' %}

{% block content %}


<section id="profile" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card bg-secondary">
            <div class="card-header bg-primary text-white">
   <h3>Would you like to take an online test for Covid 19</h3>
   
    <a href="javascript:void(0);" id="pop_zolo" class="btn btn-light">Yes</a>
    <a href="{% url 'home' %}" class="btn btn-light"> Skip </a>

    </div>
    <iframe src="https://covid.zoylo.com/#/" id="zolo_iframe" class="zolo_iframe"></iframe>
    </div>
    </div>
    </div>
    </div>





{% endblock content %}