{% extends 'base.html' %}


{% block content %}
<section id="profile" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Manage Your Profile</h4>
            </div>
            <div class="card-body">
            {% include 'partials/_alerts.html' %}
               
                <form action="{% url 'managepro' %}" method="POST">
                    {% csrf_token %}
                {% for profile in profile %}
                  <div class="form-group">
                  <label for="DOB">DOB</label>
                  <input type="date" name="DOB" class="form-control" value="{{ profile.DOB }}" required>
                </div>
                <div class="form-group">
                  <label for="Height">Height</label>
                  <input type="text" name="Height" class="form-control" value="{{ profile.Height }}" required>
                </div>
                <div class="form-group">
                  <label for="Weight">Weight</label>
                  <input type="text" name="Weight" class="form-control" value="{{ profile.Weight }}" required>
                </div>
                <div class="form-group">
                  <label for="Smoke">Do you Smoke</label>
                  <select name="Smoke" class="form-control" required>
                  <option value=""   disabled=""></option>
                  <option value="Yes" selected="true">Yes </option>
                  <option value="No" {% if profile.Blood_Group == 'No' %}selected="selected"{% endif %}>No</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Alcohol">Do you Consume Alcohol</label>
                  <select name="Alcohol" class="form-control" required>
                  <option value=""   disabled=""></option>
                  <option value="Frequently" selected="true">Frequently </option>
                  <option value="Socially"{% if profile.Blood_Group == 'Socially' %}selected="selected"{% endif %}>Socially</option>
                  <option value="No">No</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Allergy">Allergy</label>
                  <input type="text" name="Allergy" class="form-control" value="{{ profile.Allergy }}" required>
                </div>
                <div class="form-group">
                  <label for="Current_Medication">Current Medication</label>
                  <input type="text" name="Current_Medication" class="form-control" value="{{ profile.Current_Medication }}"  required>
                </div>
                <div class="form-group">
                  <label for="Blood_Group">Blood Group </label>
                  <select name="Blood_Group" class="form-control" required>
                  <option value=""   disabled=""></option>
                  
                  <option value="A+" selected="true">A+ </option>
                  
                  <option value="A-" {% if profile.Blood_Group == 'A-' %}selected="selected"{% endif %}>A- </option>
                  <option value="B+" {% if profile.Blood_Group == 'B-' %}selected="selected"{% endif %}>B+ </option>
                  <option value="B-" {% if profile.Blood_Group == 'B-' %}selected="selected"{% endif %}>B- </option>
                  <option value="AB+" {% if profile.Blood_Group == 'AB+' %}selected="selected"{% endif %}>AB+ </option>
                  <option value="AB-" {% if profile.Blood_Group == 'AB-' %}selected="selected"{% endif %}>AB- </option>
                  <option value="O+" {% if profile.Blood_Group == 'O+' %}selected="selected"{% endif %}>O+ </option>
                  <option value="O-" {% if profile.Blood_Group == 'O-' %}selected="selected"{% endif %}>O- </option>
                  </select>
                </div>
                {% endfor %}

                <input type="submit" value="Update" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
    